@charset "UTF-8";
@media (min-width: 481px) {
  @font-face {
    font-family: "Fredoka";
    src: url("./Fredoka/Fredoka-Light.ttf");
  }
  * {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
  }

  /* header*/
  .tamañoNet {
    font-size: 40px;
  }

  .fondoHead {
    background-color: yellow;
  }

  nav {
    background-color: yellow;
  }

  ul li {
    margin: 10px;
    background-color: green;
    padding: 5px 25px;
    text-decoration: none;
    list-style-type: none;
  }

  .textamano {
    font-size: 20px;
  }

  .margenTitu {
    margin: 15px;
  }

  .margenImg {
    margin: 20px;
  }

  .margintop {
    margin-top: 0px;
  }

  .margenTexto {
    margin: 20px;
  }

  .tamanoTitu {
    font-size: 30px;
  }

  .justificarTex {
    text-align: justify;
  }

  .texDerecha {
    text-align: right;
  }

  .texIzquierda {
    text-align: left;
  }

  .interlineado {
    line-height: 1.5;
  }

  .setion {
    margin-bottom: 100px;
  }

  /*footer */
  ul {
    list-style: none;
  }

  footer {
    margin-top: 50px;
  }

  .backFooter {
    background-color: yellow;
  }

  .nav-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    /* trabaja en e eje de la caja o elementos*/
  }

  .foo-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* trabaja en el eje invertido de la caja o elementos*/
  }

  .align {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* grid */
  #grid-area {
    grid-template-areas: "cabeza cabeza cabeza" "menu menu menu" "somos que que " "pie pie pie";
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 4fr 1fr;
  }

  /* grid nombres */
  header {
    grid-area: cabeza;
  }

  nav {
    grid-area: menu;
  }

  #quienes {
    grid-area: somos;
  }

  #hacemos {
    grid-area: que;
  }

  footer {
    grid-area: pie;
  }

  body {
    height: 100vh;
    width: 100%;
  }

  /*efectos*/
  /*degradiente*/
  .bcdv {
    background-image: var(--bs-gradient yellow 14%, red 100%);
    background-image: linear-gradient(yellow 14%, red 100%);
  }

  .bcfo {
    background-image: linear-gradient(red 11%, yellow 89%);
  }

  /*transiciones*/
  .litrans {
    transition: all 3s;
  }

  .litrans:hover {
    width: 100px;
    height: 50px;
    border: solid 5px black;
  }

  .litrans1 {
    transition: all 2s;
  }

  .litrans1:hover {
    border: solid 5px black;
    transform: rotate(45deg);
  }

  .ilanimation {
    animation-name: listita;
    animation-duration: 3s;
  }

  .olanimation {
    animation-name: listota;
    animation-duration: 3s;
  }

  @keyframes listita {
    from {
      transform: translateY(-1000px);
    }
    to {
      transform: translate(0);
    }
  }
  @keyframes listota {
    from {
      transform: translateX(-1000px);
    }
    to {
      transform: translate(0);
    }
  }
}
@media (max-width: 480px) {
  @font-face {
    font-family: "Fredoka";
    src: url("./Fredoka/Fredoka-Light.ttf");
  }
  * {
    margin: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
  }

  /* header*/
  .tamanoNet {
    font-size: 40px;
  }

  a {
    text-decoration: none;
    list-style-type: none;
    color: white;
  }

  .fondoHead {
    background-color: yellow;
  }

  nav {
    background-color: yellow;
    padding-top: 10px;
  }

  ul li {
    margin: 10px;
    background-color: green;
    padding: 5px 25px;
  }

  /* main */
  /* puedes ponerle fondo si gustas con esta clase , sin embargo no encuentro una imagen todavia que me guste
    .fondoMain{
     background-image: url(./imgs/Fondo\ universo.jpg) ;
     height:800px ;
    }
    */
  .margenTitu {
    margin: 15px;
  }

  .margenImg {
    margin: 20px;
  }

  .tamano {
    width: 100px;
  }

  .margenTexto {
    margin: 20px;
    margin-top: 5px;
  }

  .margintop {
    margin-top: 0px;
  }

  .tamanoTitu {
    font-size: 30px;
  }

  .justificarTex {
    text-align: justify;
  }

  .texDerecha {
    text-align: right;
  }

  .texIzquierda {
    text-align: left;
  }

  .interlineado {
    line-height: 1.5;
  }

  .setion {
    margin-bottom: 100px;
  }

  /*footer */
  ul {
    list-style: none;
  }

  footer {
    margin-top: 50px;
  }

  .backFooter {
    background-color: yellow;
  }

  /* si quieres ver el fondo usa estas clases
    .textoColor{
     color:white;
    }
    */
  /* flex de la pagina */
  .foo-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* trabaja en el eje invertido de la caja o elementos*/
  }

  .align {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* grid */
  #grid-area {
    grid-template-areas: "cabeza " "menu " "somos" "que" "pie";
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  /* grid nombres */
  header {
    grid-area: cabeza;
  }

  nav {
    grid-area: menu;
  }

  #quienes {
    grid-area: somos;
  }

  #hacemos {
    grid-area: que;
  }

  footer {
    grid-area: pie;
  }

  body {
    height: 100vh;
    width: 100%;
  }

  /*efectos*/
  /*degradiente*/
  .bcdv {
    background-image: linear-gradient(yellow 14%, red 100%);
  }

  .bcfo {
    background-image: linear-gradient(red 11%, yellow 89%);
  }

  /*transiciones*/
  .litrans {
    transition: all 3s;
  }

  .litrans:hover {
    width: 100px;
    height: 50px;
    border: solid 5px black;
  }

  .litrans1 {
    transition: all 2s;
  }

  .litrans1:hover {
    border: solid 5px black;
    transform: rotate(45deg);
  }

  .ilanimation {
    animation-name: listita;
    animation-duration: 3s;
  }

  .olanimation {
    animation-name: listota;
    animation-duration: 3s;
  }

  @keyframes listita {
    from {
      transform: translateY(-1000px);
    }
    to {
      transform: translate(0);
    }
  }
  @keyframes listota {
    from {
      transform: translateX(-1000px);
    }
    to {
      transform: translate(0);
    }
  }
}
.padi {
  padding-bottom: 10px;
}
.mgtop{
  margin-top: 0px;
}
.mgbot{
  margin-bottom: 0px;
}
/*# sourceMappingURL=destino.css.map */
